body{
    background:linear-gradient(rgb(210, 131, 210) 0%, rgb(104, 104, 210) 100%);
    text-align:center;
}

#welcomep{
    max-width:700px;
    margin:8px auto;
}

#leg{
    color:black;
    font-size:20px;
}

.image-section{
    display:flex;
    justify-content:center;
}

.section-style{
    margin-right: 25px;
	  margin-left: 25px;
}

#reg1{
    width:450px;
    height:340px;
}

.line{
    width:200px;
    height:6px;
    background-color: white;
    margin:8px auto;
}

.listitem{
    float:right;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:8px;
    padding-right:8px;
    font-size:18px;
}

.menu{
  
    top:10px;
    right:30px;
    list-style:none;
    cursor:pointer;
    z-index:10;
}

#Home{
    z-index:9;
   
   
    
    
    
}